* {
    font-family: monospace;
    font-weight: 100;
    font-size: 20px;
}

body {
    padding: 25px;
}

h1 {
    font-size: 23px;
}

.caja {
    background-color: #FA8072;
    border-style: double;
    border-radius: 30px;
    margin: auto;
    padding: 0px 0px 60px 0px;
    height: 150px;
    text-align: center;
    box-shadow: 10px 20px 50px #000;
}

.input {
    width: 37vh;
    border-radius: 7px;
}

#calcular:hover, .input:hover {
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}